#title {
    background-color: #339989;
    color: #131515;
  }
  
  .container-fluid {
    padding: 2% 5% 5%;
  }
  
  h1 {
    font-family: "Montserrat-Black";
    font-size: 2.5rem;
    line-height: 1.5;
    padding-left: 3.0rem;
  }
  
  h2 {
    font-family: Montserrat-bold;
    font-size: 2rem;
    line-height: 1.5;
  }
  
  h3 {
    font-family: "Montserrat-bold";
  }
  
  p {
    color: White;
  }
  
   Navigation Bar /
  .navbar {
    padding: 0 0 1.5rem;
  }
  
  .navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 5px;
  }
  
  .nav-link {
    font-size: 1.0rem;
    font-family: Montserrat;
  }
  
  /* Features */ 
  
  #features {
    padding: 7% 15%;
    font-size: 1.5rem;
    background-color: white;
    position: relative;
    z-index: 1;
  }
  
  .feature-box {
    text-align: center;
    padding: 5%;
  }
  
  /* Dropdown Button */
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  /* Sections */
  #Home {
    padding: 100px;
    text-align: center;
  }
  
  #Members {
  
    background-color: #2fc4b2;
    color: Black;
  
    text-align: center;
    padding: 5% 15%;
  }
  
  #Gallery {
    background-color: #2fc4b2;
    color: Black;
  
    text-align: center;
    padding: 5% 15%;
  }
  
  #ContactUs {
    background-color: white;
     text-align: center;
     padding: 7% 15%;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    background-color: #2B2C28 ;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }
  
  main {
    background-color: #2B2C28;
    margin: 20px;

  }
  
  main h1 {
    font-family: 'Avenir';
    color: #2fc4b2;
    text-decoration: none;
    text-align: center;
    font-size: 60pt;
  }
  
  #Avatar {
      display: block-inline;
      margin-left: 5px
  }

  #Avatar2 {
    display: block-inline;
    padding-top: 75px;
    padding-left: 5px;
}

  main h2 {
      display: block;
      color: white;
      text-decoration: bold;
      font-family: 'Avenir';
      font-size: 35pt ;
      margin-left: 100px;
      text-align: left;
      margin-top: 5px;

  }

  main h6 {
    color: white;
    font-family: 'Avenir';
    font-size: 25pt ;
    margin: 35px;
    text-align: centre;
  }

main h5 {
    color: #2fc4b2;
    text-decoration: bold;
    font-family: 'signpainter';
    font-size: 25pt ;
    margin: 35px;
    margin-top: 50px;
    text-align: centre;
}
  
  main p {
    display: block;
    text-align: left;
    color: white;
    margin-left: 100px;
    margin-bottom: 100px;
    font-family: 'Avenir';

  }
  
  main h4 {
    display: block;
    color: #7DE2D1;
    margin-left: 100px;
    font-family: 'Avenir';
    text-align: left;
  }

  /* footer */
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #339989;
    color: white;
    text-align: center;
  }
  